html{
    width: 100%;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    font-size: 1.3em;
    letter-spacing: 3px;
}
body{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: 0;
    border-top: none;
    border-bottom: none;
    background-color: #8de49d;
}
.content{
    width: 70%;
    height: 100%;
    background-color: #000000;
    padding: 20px;
    padding-bottom: 100px;
}
a, a:visited{
    color: #88cf95;
}